REDIS_HOSTNAME=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_CHANNEL=nodeSync
DB_CONNECTION_STRING=mongodb://localhost:27017
SERVER_PORT=8080
SOCKET_SERVER_PORT=8081
MERKLE_TREE_LEVELS=15
SPAM_TRESHOLD=10
INTERREP_SYNC_INTERVAL_SECONDS=300
RLN_IDENTIFIER=518137101
MESSAGES_CHANNEL=messages
MESSAGES_BROADCAST_CHANNEL=message-broadcast
UPDATES_CHANNEL=updates